<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/header',{showReturn:true}); %>
<div style="margin:auto; width: fit-content;height: 85%">
        <div class="w3-display-middle">
                <h1 class="w3-center">404</h1>
                <h3 class="w3-center">Cтраница не найдена</h3>
        </div>
</div>
</body>
</html>