<div class="w3-bar">
    <div class="w3-bar-item w3-left">
        <i class="fa fa-plus w3-button" onclick="location.href='/books/new'"></i>
    </div>
    <div class="w3-bar-item w3-right" onclick="filterShow()">
        <i class="fa fa-filter w3-button "></i>
    </div>
</div>