<div id="deleteModal" class="w3-modal ">
    <div class="w3-modal-content w3-card-4 w3-animate-top w3-round">
        <div class="w3-container">
            <span onclick="deleteHide()"
                  class="w3-button w3-display-topright w3-round">&times;</span>
            <div class="w3-container" style="padding-top: 40px;">
                <p style="margin-bottom: 0">Вы точно хотите удалить эту книгу?</p>
                <div class="w3-container w3-center margin-l-r-auto" style="margin-bottom: 20px;margin-top: 20px">
                    <input class="w3-button w3-border" type="button" value="Да" onclick="deleteBook();deleteHide()">
                </div>
            </div>
        </div>
    </div>
</div>