<!DOCTYPE html>
<html lang="ru">
<%- include('../partials/head.ejs'); %>
<body>
<%if (gulp){%>
  <script src="/assets/friendlist.js"></script>
<%}%>
<%- include('../partials/header.ejs'); %>
  <div class="users">
    <div class="vertical-center" style="height: 100%">
      <h3 style="text-align: center">Страница не найдена</h3>
    </div>
  </div>
</body>
</html>