<div class="title">
    <button mat-button routerLink="/login">
        <mat-icon>arrow_back</mat-icon>
        Назад
    </button>
    <span>Зарегистрироваться в ФСБook</span>
    <span style="width:100px"></span>
</div>
<div class="vertical-center" style="width:100%;height:calc(100% - 48px); align-items: center">
    <div class="form" >
        <form [formGroup]="signupForm">
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Фамилия</mat-label>
                <input type="text" matInput formControlName="lastname">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Имя</mat-label>
                <input type="text" matInput formControlName="firstname">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Отчество</mat-label>
                <input type="text" matInput formControlName="midname">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Дата рождения</mat-label>
                <input type="date" matInput formControlName="birthday">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Пароль</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="standard">
                <mat-label>Подтвердите пароль</mat-label>
                <input type="password" matInput formControlName="password2">
            </mat-form-field>
            <div class="space-between" style="margin: 20px 0">
                <button mat-raised-button type="submit" (click)="signup()" color="primary">РЕГИСТРАЦИЯ</button>
            </div>
        </form>
    </div>
</div>