<div class="main-content">
    <div class="sidebar">
        <mat-list class="nav">
            <mat-list-item><button mat-button>МОЯ СТРАНИЦА</button></mat-list-item>
            <mat-list-item><button mat-button>НОВОСТИ</button></mat-list-item>
            <mat-list-item><button mat-button>СООБЩЕНИЯ</button></mat-list-item>
            <mat-list-item><button mat-button>ДРУЗЬЯ</button></mat-list-item>
        </mat-list>
    </div>
    <div style="height:100%; flex: 71%; ">

        <div class="panel" style="margin-top: 15%;display: flex">
            <div class="avatar-container">
                <img class="avatar" [src]=avatar alt="avatar">
            </div>
            <p>DiCK NAME</p>
        </div>
        <div style="display: flex">
            <div style="flex: 66%" >
                <div class="panel" >
                    <div class="photo-list">
                        <img [src]=avatar alt="avatar">
                        <img [src]=avatar alt="avatar">
                        <img [src]=avatar alt="avatar">
                        <img [src]=avatar alt="avatar">
                    </div>
                    <div >
                        <button mat-button style="margin-left: 5%">ЗАГРУЗИТЬ ФОТО</button>
                    </div>
                </div>

                <div style="display: flex;justify-content: flex-start">
                    <div class="panel" style="flex: 66%;padding: 0" >
                        <div style="padding: 10px">
                            <div style="display: flex;justify-content: flex-start;padding: 10px;gap: 20px">
                                <img style="width: 50px;height: 50px;border-radius: 50%" [src]=avatar alt="avatar">
                                <div>
                                    <span style="font-size: 14px">DICk name</span><br>
                                    <span style="font-size: 14px; color: gray">time</span>
                                </div>
                            </div>
                            <div style="margin: 0 20px">
                                <p>DICk's NEWS</p>
                                <div style="display: flex;justify-content: center;width:100%">
                                    <img style="height: 400px" [src]=avatar alt="avatar">
                                </div>
                            </div>

                        </div>
                        <mat-divider></mat-divider>
                        <div style="padding: 10px">
                            <div style="display: flex;justify-content: flex-start;padding: 10px;gap: 20px">
                                <img style="width: 50px;height: 50px;border-radius: 50%" [src]=avatar alt="avatar">
                                <div>
                                    <span style="font-size: 14px">DICk name</span><br>
                                    <span style="font-size: 14px; color: gray">time</span>
                                </div>
                            </div>
                            <div style="margin: 0 20px">
                                <p>DICk's NEWS</p>
                                <div style="display: flex;justify-content: center;width:100%">
                                    <img style="height: 400px" [src]=avatar alt="avatar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                <div class="panel" style="flex: 33%;height: min-content" >
                    <p>DICk's FREINDS</p>
                    <div style="display: flex;flex-wrap: wrap;gap: 10px">
                        <div *ngFor="let friend of friends" style>
                            <img style="width: 64px;height: 64px;border-radius: 50%" [src]=avatar alt="avatar"><br>
                            <span>frind {{friend}}</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div style="width:20%;height:100%;flex: 9%;"></div>
</div>
