<div class="panel" style="padding: 0;width: 70%">
    <div *ngFor="let user of users;index as i;">
    <div class="msg-list-entry hover" routerLink="/dialog">
        <img style="width: 50px;height: 50px;border-radius: 50%" [src]=user.avatar alt="avatar">
        <div>
            <span style="font-size: 14px">{{user.name}}</span><br>
            <span style="font-size: 14px; color: gray">{{user.message}}</span>
        </div>
    </div>
    <mat-divider *ngIf="i<users.length-1"></mat-divider>
    </div>
</div>