@import (reference) "/src/styles.less";


.msg-list-entry {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}