<head>
    <meta charset="UTF-8">
    <title>ФСБook</title>
    <%if (gulp){%>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/jquery-ui.css">
    <%}%>
    <!--<link rel="stylesheet" href="./css/bootstrap.css">-->

    <link rel="icon" type="image/x-icon" href="/src/client/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%if (gulp){%>
    <script src="/assets/jquery-3.6.1.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/ejs.js"></script>
    <script src="/assets/jquery-ui.js"></script>
    <%}%>
</head>