<div class="search-container">
    <div class="search-btn">
        <img src="/assets/search.svg">
    </div>
    <input class="search-text" type="search" placeholder="Поиск" aria-label="Search">
</div>